extends default

block content
  <div id="cr-about" class="cr-about-section section parallax-window pt-150 pb-110" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/about.jpg">
  <div class="container">
  p.pageTitle #{title}
  h1 404
  p The page you are looking for doesn't exist, or has been moved.
  | <br>
