extends default

block content
  <!--Creative About-->
  <div id="cr-about" class="cr-about-section section parallax-window pt-150 pb-110" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">

  <!--Section Title-->
  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>About Us</h3>
  </div>
  </div>

  <div class="row">
  <div class="boxthingy">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="cr-about-content">
            <h1>What is EtherGem? (EGEM)</h1>
            <br>
            <h3>Introduction</h3><hr>
            <p>Ethergem is a fully functional Proof-of-Work primary blockchain originally based on Ethereum. Ethergem was created as a community-based coin with no pre-mine or ICO. We used the tested and proven ethereum (ETH) core technologies as a base and have added our own masternode technology with other upcoming innovative developments due to be released.</p>
            <li>
            <ul class="">
            <li>- An Ethereum Based Blockchain using Dagger-Hashimoto (Ethash).</li>
            <li>- Voluntary Non-custodial Masternodes (Quarrynodes).</li>
            <li>- Multicurrency wallet with EGEM, SFRX, BTC, LTC, ETH and all Ethash coins upon Sapphire release.</li>
            <li>- Open Source & Community driven project.</li>
            <li>- 11-13 Sec target, custom consensus.</li>
            <li>- <a href="https://bctann.egem.io">Bitcointalk</a></li>
            </ul>
            </li>
        </div>
      </div>

    </div>
  </div>
  </br>
  <div class="boxthingy">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="cr-about-content">
          <h1>What is Sapphire?</h1>
          <br>
          <h3>Introduction</h3><hr>
          <p>EtherGem’s Sapphire, an integrated subchain with DeX, is a PoW blockchain with a target 5 second block time that observes the EGEM chain while conducting independent business on its own structure. Miners "solo" or "dual” mine SFRX with EGEM. The SFRX mining algorithm is Blake2s with custom modifications based on community support with the goal of ASIC resistance. Sapphire can be mined with both CPU and GPU using our custom built miner.</p>
          <p>Ethergem addresses share dual functionality with Sapphire with a rebuild of the Opal wallet to facilitate these enhancements. The decentralized exchange trades on chain from this wallet. Original coins can launch on the sapphire chain as a mineable ICO and transfer or trade out of the same address. Other chain currencies can be locked in “quantum swaps” in this same multicurrency wallet. We loosely call this our 5 second BTC. Early EGEM adopters received 2 times their EGEM holdings as a Sapphire airdrop taken at EGEM block 1,530,000 with balances available at launch on Sapphire chain..</p>
          <li>
          <ul class="">
          <li>- EtherGem Subchain & DeX.</li>
          <li>- Long-term project
          <li>- 5 Sec target.</li>
          <li>- Same address/pkey as EGEM to use SFRX.</li>
          <li>- Multi-currency wallet.</li>
          <li>- <a href="https://bitcointalk.org/index.php?topic=5063954">Bitcointalk</a></li>
          </ul>
          </li>
        </div>
      </div>
    </div>
  </div>
  </br>
  <div class="boxthingy">
    <h1>Era Timeline & Info</h1>
    <br>
    <h3>Introduction</h3><hr>
    <p>Rewards Pass in what we call Eras, there are 7 of them that span close to 7-8 years and taper the rewards over time so there is no max supply. The funding reward that's included in each block is reduced to make sure distribution is fair for everyone while keeping innovative development ongoing.</p>
    <canvas id="supplyTime" height="200"></canvas>
  </div>


  </div>
  </div>
  <div id="cr-service" class="cr-service-section section parallax-window pt-150 pb-50" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/service.jpg">
  <div class="container">

  <div class="row">

  <div class="cr-single-service col-md-4 col-sm-6 col-xs-12 mb-100">
  <i class="fa fa-code"></i>
  <h3>Teamwork</h3>
  <p>We have a dedicated team and community enabling us identify and respond to issues quickly.</p>
  </div>

  <div class="cr-single-service col-md-4 col-sm-6 col-xs-12 mb-100">
  <i class="fa fa-code-fork"></i>
  <h3>Quarrynodes</h3>
  <p>Custom coded and easy to use masternodes based around discord.js and web3.js.</p>
  </div>

  <div class="cr-single-service col-md-4 col-sm-6 col-xs-12 mb-100">
  <i class="fa fa-user-secret"></i>
  <h3>PirlGuard</h3>
  <p>Our blockchain is protected by PirlGuard as standard. SFRX will enhance both chains security with additional protection.</p>
  </div>

  <div class="cr-single-service col-md-4 col-sm-6 col-xs-12 mb-100">
  <i class="fa fa-terminal"></i>
  <h3>EGEM API's</h3>
  <p>We offer a wide variety of API endpoints for developers and normal users to take part in the EGEM network.</p>
  </div>

  <div class="cr-single-service col-md-4 col-sm-6 col-xs-12 mb-100">
  <i class="icon-tools"></i>
  <h3>Wiki</h3>
  <p>The wiki is the knowledge database where we store information and documentation to help the community use, learn and grow EGEM and SFRX.</p>
  </div>

  <div class="cr-single-service col-md-4 col-sm-6 col-xs-12 mb-100">
  <i class="icon-heart"></i>
  <h3>Dedicated Community</h3>
  <p>We are a community comprised of users, coders, and designers from all over the world sharing our ideas about blockchain technology.</p>
  </div>

  </div>

  <script type="text/javascript">doChartSupply();</script>
