extends default

block content
  div.nodeexplore
    <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
    <div class="container">

    <div class="row">
    <div class="cr-section-title text-center col-xs-12 mb-100">
    <h3>Accounts Lookup</h3>
    </div>

    <div class="col-md-8 col-md-offset-2 col-xs-12">

    <input type="text" id="searchEnter" class="search" name="addressInput" value="Input address." onClick="this.select();" style="width: 70%">
    <input type="button" value="Query" onClick="qBalance();" id="searchIt" class="btn-gradient">
    </br></br>

    div.resultBox
      <div id="address"></div>
      <div id="balance"></div>
      <div id="sfrxbalance"></div>
      <script type="text/javascript">qBalance1()</script>
    </div>

    </div>

    </div>
    </div>
