extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">


  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Block Lookup</h3>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">

  </br></br>
  <input type="text" id="searchEnter" class="search"  name="blockInput" id="blockInput2" placeholder="Input block number." onClick="this.select();" style="width: 70%">
  <input type="button" value="Query" onClick="qBlock();" id="searchIt" class="btn-gradient">
  </br></br>
  div.resultBox
    <div id="noblock"></div>
    <div id="bNum"></div>
    <div id="pHash"></div>
    <div id="hash"></div>
    <div id="miner"></div>
    <div id="timestamp"></div>
    <div id="size"></div>
    <div id="nonce"></div>
    <div id="buncles"></div>
    <div id="extraData"></div>
    </br>
    <div id="btransactions"></div>
    </br>
    </br>
    </br>
    <div id="ltransactions"></div>
  </div>
  <script type="text/javascript">qBlock1()</script>
  </div>

  </div>

  </div>
  </div>
