extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">

  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Bugs & Bounties</h3>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
  <h3>Information:</h3>
  <hr>
  p These funds are provided by the community wallet and are judged on possible impact and effort put in to find/reproduce/repair.
  <h3>Pay & Severity</h3>
  <hr>
  p 10,000 EGEM High/Severe
  p 1,000 EGEM Mild/Medium
  p 1,00 EGEM Low/Non critical
  p Send in an email with.
  p Subject: Bugs & Bounties "severity / issue"
  p <a href="mailto:info@egem.io"><i class="fal fa-envelope-open"></i> Email</a>
  </div>
  </div>

  </div>
  </div>
