extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">
  <h3> Social Media</h3>
  <button class="accordion">Twitter Feed</button>
  <div class="panel">
  <a class="twitter-timeline" href="https://twitter.com/ethergemcoin?ref_src=twsrc%5Etfw">Tweets by ethergemcoin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <h3> Community Made Projects </h3>
  <button class="accordion">EGEM Monsters</button>
  <div class="panel">
  <img src="img/egem-mon.png" alt="">
  </br>
  a(href='https://monsters.egem.io/' target='_blank')
    | Visit EGEM Monsters
  </br></br>
  </div>
  <button class="accordion">Beat the system hodl game</button>
  <div class="panel">
  a(href='http://egem.fallengravity.xyz/' target='_blank')
    | Visit
  <span id='btsEGEM'></span> Locked in game.
  </div>
  div.hideMe

  <script type="text/javascript">getBalance2();</script>
  </div>
  </div>
