extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">


  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Contracts</h3>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">

  <p>We support pretty much all ethereum smart contracts that could be deployed, so feel free to do so and contact us to have page updated.</p>

  </div>

  </div>

  </div>
  </div>
