extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">
  <div class="cr-section-title text-center">
  <h3> Desktop UX/UI</h3>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
  <p>List of features.</p>
  <li>
  <ul>Send and receive various types of assets and coins.</ul>
  <ul>Various ethereum networks support. (EGEM/PIRL/ETHO/ETH)</ul>
  <ul>Bitcoin support including clones. (BTC/LTC)</ul>
  </li>
  </div>
  <div class="row">
  </div>
  <div class="cr-section-title text-center">
  </br>
  <h4> Alpha Download</h4>
  <a href="/desktop">Win</a>
  <a href="/desktop">Mac</a>
  <a href="/desktop">Linux</a>
  </br>
  </br>
  <h4> Listing Application</h4>
  <p>To apply to get listed within our UX/UI fill out the form at link below.</p>
  </br>
  <a href="/desktop" class="btn btn-cr btn-hover-border-cr">Apply</a>

  </div>
  <script type="text/javascript">getBalance2();</script>
  </div>
  </div>
