extends default

block content
  <!--Creative Service-->
  <div id="cr-service" class="cr-service-section section parallax-window pt-150 pb-50" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/service.jpg">
  <div class="container">

  <!--Section Title-->
  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>EGEM F.A.Q.</h3>
  </div>
  </div>

  <div class="row">

  <button class="accordion">Q: What makes you different than any other chain?</button>
  <div class="panel">
  <p>A: We have implemented our own difficulty adjustment per block to keep the chain under a 13 second average, and we also use a custom block halving scheme to slowly reduce the amount of coins that get created over time. Also we have an integrated sidechain called Sapphire/SFRX that increases our feature set and capability.</p>
  </div>

  <button class="accordion">Q: Why the Name?</button>
  <div class="panel">
  <p>A: Ether - a medium that in the wave theory of light permeates all space and transmits transverse waves. Gem - something prized especially for great beauty or perfection.</p>
  </div>

  <button class="accordion">Q: Where can i find the token address?</button>
  <div class="panel">
  <p>A: We are not a token we are a coin/blockchain of our own.</p>
  </div>

  <button class="accordion">Q: How do i connect with metamask?</button>
  <div class="panel">
  <p>A: Go to settings and add a custom RPC using this address https://lb.rpc.egem.io/ ,and modify the setting to reflect EGEM.</p>
  </div>

  <button class="accordion">Q: Was there an ICO?</button>
  <div class="panel">
  <p>A: No we had a fair launch that was open to all miners, and no coins were presold at all.</p>
  </div>

  <button class="accordion">Q: Why is there a dev fund?</button>
  <div class="panel">
  <p>A: To make sure the blockchain continues to be developed and progressing with new features and improvements.</p>
  </div>

  <button class="accordion">Q: How often is my Quarrynode checked?</button>
  <div class="panel">
  <p>A: The node is pinged and recorded every 15 minutes.</p>
  </div>

  <button class="accordion">Q: Can i run my node from home?</button>
  <div class="panel">
  <p>A: While you technically can it's not going to be as reliable as a dedicated server, and might put your home network at risk of DDOS.</p>
  </div>

  <button class="accordion">Q: How do i change the avatar on my node page?</button>
  <div class="panel">
  <p>A: Using the following command in our discord server, /changeavatar var1-33.</p>
  </div>

  <button class="accordion">Q: What is the max supply of EGEM?</button>
  <div class="panel">
  <p>A: After the final era which is the 7th there will be roughly 50 million EGEM in circulation, and each year following will produce around 650k new coins.</p>
  </div>

  <button class="accordion">Q: Where do the funds for the Quarrynodes come from?</button>
  <div class="panel">
  <p>A: There is a reward from mining placed into a secure 3 of 5 multi-signature wallet so no one has control of it without the other team members knowing and/or signing.</p>
  </div>

  <button class="accordion">Q: How is the bot funded?</button>
  <div class="panel">
  <p>A: When the bot runs low on its normal wallet funds a signing process is started to top the wallet back up from its secure multi-signature storage.</p>
  </div>

  </div>

  </div>
  </div>
