extends default

block content
  each stat in summary
    <div id="cr-about" class="cr-about-section section parallax-window pt-150 pb-110" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/about.jpg" alt="">
    <div class="container">

    <div class="cr-section-title text-center">
    <h3>Quick Lookup</h3>
    </br>
    <input type="text" id="searchEnter" class="search" name="mainInput" placeholder="Lookup a block/address/tx or quarrynode." onClick="this.select();" style="width: 70%">
    <input type="button" value="Search" onClick="searchBar()" id="searchIt" class="btn-gradient">
    </br>
    h5 Current Block: <span id="block-height" style="color:#8987DF;"></span> :: Total Users: <span id="" style="color:#8987DF;">#{stat.totalUsers}</span> :: QNodes: <span id="" style="color:#8987DF;">#{stat.totalNodes}</span> :: Active Users: <span id="" style="color:#8987DF;">#{stat.usersEarning}</span> :: Node search: <input type="checkbox" id="nodeCheck" onclick="" title="Click me to lookup a quarrynode.">
    </br>
    <!--INFOLINKS_OFF-->
    <div id="motdbox">
      h2 News:
      p #{stat.motd}
      </br>
    </div>
    <!--INFOLINKS_ON-->
    </br>
    <a href="/about" class="btn btn-cr btn-hover-border-cr">Learn More</a>
    //<h4> Pick a user experience.</h4>
    //<a href="/mobile" class="btn btn-cr btn-hover-border-cr">Mobile</a>
    //<a href="/desktop" class="btn btn-cr btn-hover-border-cr">Desktop</a>
    </br>
    </br>
    </div>
    </div>
    </div>

    </div>
    </div>
    <script type="text/javascript">searchEnter();</script>
    <script type="text/javascript">getBlock();</script>
    <script type="text/javascript">getNet();</script>
