extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">

  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>USER PROFILE</h3>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
  <h3>Information:</h3>
  <hr>
  p Discord ID: #{me}
  p EGEM Address: #{address}
  p EGEM ID: #{idnum}
  p Current Balance: #{balance}
  p Current Credits: #{credits/Math.pow(10,18)}
  p Paylimit: #{paylimit}
  p Notify On: #{notify}
  p Autopay On: #{autopay}
  p Node Page: <a href="/nodeprofile?address=#{address}">Visit</a>
  </br>
  p To confirm any changes to account please add your EGEM ID to confirmation box, then press submit.
  <div class="profile-form">
    <h3>Settings:</h3>
    <hr>
    <form action="setpay" method="POST">
      span Paylimit: </br>
      span <input id="EGEMPaylimit" type="text" name="paylimit" placeholder="1-100" required> <input id="EGEMID" type="text" name="idnum" placeholder="#{idnum}" required> <input id="pfbutton" type="submit">
    </form>
    </br>
    <h3>Toggle:</h3>
    <hr>
    <form action="notify" method="POST">
      span Notify: </br>
      span EGEM ID: <input id="EGEMID" type="text" name="idnum" placeholder="#{idnum}" required> <input id="pfbutton" type="submit">
    </form>
    <form action="autopay" method="POST">
      span Autopay: </br>
      span EGEM ID: <input id="EGEMID" type="text" name="idnum" placeholder="#{idnum}" required> <input id="pfbutton" type="submit">
    </form>
  </div>

  </div>
  </div>

  </div>
  </div>
