extends default

block content

  <!--Creative About-->
  <div id="cr-about" class="cr-about-section section parallax-window pt-150 pb-110" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/about.jpg" alt="">
  <div class="container">

  <!--Section Title-->
  <div class="row">
  //<input type="text" id="searchNodes" class="search" name="nodeInput" placeholder="Input a EGEM address." onClick="this.select();" style="width: 50%">
  //<input type="button" value="Search" onClick="searchNodes()" id="searchNodes" class="btn-gradient">
  //</br>

  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Quarrynode List & Info</h3>

  </div>
  </div>

  <div class="row">

  <!--About Video-->
  <div class="col-md-4 col-xs-12 float-left mb-40">
  <img src="img/qnodes.gif" alt="">
  </div>

  <!--About Content-->
  <div class="col-md-8 col-xs-12 mb-40">

  <div class="cr-about-content">
  <h1><strong>EGEM Quarrynodes</strong></h1>
  <hr>
  <small>
  p Quarrynodes (a form of masternode) allows a operator to receive EtherGem in exchange for running a node.
  p As the EtherGem network grows, there are plans to add additional node tiers with the launch of SFRX with increasing returns. This gives node owners the ability to exponentially grow their holdings as they acquire more. EtherGem has a full-service Discord / Telegram bot that allows you to manage your node(s) it was built using discord.js / web3.js / telegraf.js with a MySQL database for storage.
  p The network is design to expand and be modular as we grow, so new features will come.
  </div>
  each stat in summary

    <span id="wallettext">Est. Supply - <span id="total-egem-supply-two"></span>
    </br>
    <span id="wallettext">Counted EGEM - <span id="countedegem"></span>
    </br>
    <span id="wallettext">Locked EGEM - <span id="lockedegem"></span>
    </br>
    <span id="wallettext">Hot Wallet - <span id="wallet"></span>
    </br>
    <span id="multisigtext">Cold Storage Wallet - <span id="multisig"></span>
    p </br> Stats and page update every 15 minute(s), bot wallets update on refresh.
    p </small>
    <a href="https://gitlab.com/luisvi70/egem-docker-install" class="btn btn-cr btn-hover-border-cr" target="_blank" rel="noreferrer">Setup</a>
    <a href="https://wiki.egem.io/botcmds" class="btn btn-cr btn-hover-border-cr" target="_blank" rel="noreferrer">Commands</a>
    </br></br>
    <ul class="nodeList">
      <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
      p ▼
      </a>
      <ul class="dropdown-menu">
        each node in nodes
          - if (node.earning == 1) {
            ul
              a(href=`/nodeprofile?address=${node.address}`)
                | #{node.address}
          - }
      </ul>
    </ul>
    </div>
    <div id="nodelist">
    <h1><strong>Quarrynode Stats:</strong></h1>
    <hr>

    table#nodeslisttb
      tbody
      each val in ['Current Block','Total Nodes','T1 Count','T2 Packs']
        th=val
      each stat in summary
        tr
          td= stat.currentBlock
          td= stat.totalNodes
          td #{stat.tierOneNodes}
          td #{stat.tierTwoNodes}

      tbody
      each val in ['t1paysplit','15min','60min','Daily']
        th=val
      tr
        td #{stat.tierOnePay} EGEM / #{stat.tierOneNodes - stat.tierTwoNodes} *
        td #{((stat.tierOnePay15)/Math.pow(10,18)).toFixed(8)}
        td #{(stat.tierOnePay15/Math.pow(10,18)*4).toFixed(8)}
        td #{(stat.tierOnePay15/Math.pow(10,18)*4*24).toFixed(8)}

      tbody
      each val in ['t2paysplit','15min','60min','Daily']
        th=val
      tr
        td #{stat.tierTwoPay} EGEM / #{stat.tierTwoNodes} **
        td #{((stat.tierTwoPay15)/Math.pow(10,18)).toFixed(8)}
        td #{(stat.tierTwoPay15/Math.pow(10,18)*4).toFixed(8)}
        td #{(stat.tierTwoPay15/Math.pow(10,18)*4*24).toFixed(8)}

      tbody
      each val in ['System Credits','Node Rewards']
        th=val
      tr
        td #{stat.totalCredits/Math.pow(10,18)}
        td #{stat.totalMNRewards/Math.pow(10,18)}
    <hr>
    <small>
    p * This is the total count of nodes that decide the Tier #1 pay per 15 minutes.
    p ** This is the total count of nodes that decide the Tier #2 pay per 15 minutes.
    p *** Once at Tier #2 earnings are not combined with Tier #1 unless you have extra/separate T1 nodes.
    p **** A pack of two nodes is what is called Tier #2, so the Tier #1 that goes with it won't count/decide pay for rest of Tier #1 nodes.
    </small>

    </div>
    <hr>

    <div id="nodelist">
    p #{stat.usersEarning} Online Accounts:
    table#nodelisttb
      tbody
      each val in ['User Id','Paylimit','Credits','QN Reward','Userpay','T1','T2','Autopay','Notify','Fails']
        th=val
      each node in nodes
        tr
          td= node.userId
          td= node.paylimit
          td= node.credits/Math.pow(10,18)
          td= node.mnrewards/Math.pow(10,18)
          td= node.userpay/Math.pow(10,18)
          td= node.t1count
          td= node.t2count
          td= node.autopay
          td= node.notify
          td= node.fails
    </div>
    <hr>
  </div>

  </div>
  </div>
  </div>

  <script type="text/javascript">getBalance();</script>
  <script type="text/javascript">getCoinInfo2();</script>
