extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">

  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Profile Lookup</h3>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
  <center>
  - if (typeof(node) !== 'undefined'){
    img.image(src='/img/ava/' + node.avatar )
    </center>
    - if (node.userId != "0") {
        h1.node-welcome(style=`text-align:center;`)
          | #{node.userId}
    - } else {
        h1.node-welcome(style=`text-align:center;`)
          | #{node.teleId}
    - }
    <br>
      h4.node-address
        | <i class="fal fa-address-card">&nbsp;</i> <a href='accounts?=#{node.address}'> #{node.address} </a>
      | -----
      h4.node-dob
        | Made on: #{node.timestamp}
      h5.node-balance
        | <i class="fal fa-wallet">&nbsp;</i> Node Wallet: #{node.balance}
      h5.node-balance
        | <i class="fal fa-wallet">&nbsp;</i> Tip Wallet: #{node.balanceTwo}
      h5.node-credits
        | <i class="fal fa-sack-dollar">&nbsp;</i> Tip Credits: #{(node.credits/Math.pow(10,18)).toFixed(8)}
      h5.node-credits
        | <i class="fal fa-sack-dollar">&nbsp;</i> QN Credits: #{(node.mnrewards/Math.pow(10,18)).toFixed(8)}
      h5.node-credits
        | <i class="fal fa-sack-dollar">&nbsp;</i> Pay Threshold: #{node.paylimit}
      - if (node.autopay != "0") {
          h5.node-credits
            | <i class="fal fa-cogs">&nbsp;</i> Autopay Enabled
      - } else {
          h5.node-credits
            | <i class="fal fa-cog">&nbsp;</i> Autopay Disabled
      - }
      - if (node.notify != "0") {
          h5.node-credits
            | <i class="fal fa-comment-alt-check">&nbsp;</i> Notify Enabled
      - } else {
          h5.node-credits
            | <i class="fal fa-comment-alt-times">&nbsp;</i> Notify Disabled
      - }
      - if (node.fails != "0") {
          h5.node-credits
            | <i class="fal fa-angry">&nbsp;</i> Current Fails: #{node.fails}
      - } else {
          h5.node-credits
            | <i class="fal fa-smile-wink">&nbsp;</i> Nodes Active.
      - }
      | -----
      h4
        | Tier Stats:
      h5.node-credits
        | <i class="fal fa-cogs">&nbsp;</i> Bracket: #{node.tier}
      h5.node-credits
        | <i class="fal fa-cogs">&nbsp;</i> Tier 1 Online: #{node.t1count}
      h5.node-credits
        | <i class="fal fa-cogs">&nbsp;</i> Tier 2 Online: #{node.t2count}
      | -----
      h4
        | Earnings:
        h5.node-mypay #{(node.userpay/Math.pow(10,18)).toFixed(8)} EGEM every 15 minutes.
        h5.node-mypay #{((node.userpay/Math.pow(10,18)) * 4).toFixed(8)} EGEM every 60 minutes.
        h5.node-mypay #{((node.userpay/Math.pow(10,18)) * 4 * 24).toFixed(8)} EGEM every 24 hours.
      | -----
      - if (node.lasttx != 0) {
        h4
          | Last TX Sent:
          h5.node-mypay <a href='txs?=#{node.lasttx}'> #{node.lasttx} </a>
        | -----
      - } else {
        h4
          | Last TX Sent:
          h5.node-mypay None
        | -----
      - }

      p <a href="/nodelist"><- back.</a>
  -} else {
    h3 This account and its nodes appears to be offline or do not exist.
    p <a href="/nodelist"><- back.</a>
  -}
  </div>

  </div>

  </div>
  </div>
