extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">
  <div class="cr-section-title text-center">
  <h3> Partners</h3>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
  <a href="https://zerocurrency.io" target="_Blank">Zero Currency Blockchain Project</a>
  </div>
  <br><br>
  <div class="cr-section-title text-center">
  <h3> Articles</h3>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
  <a href="https://newsbit.nl/ethergem-een-zuivere-communitycoin/" target="_Blank">Newsbit.nl</a>
  </div>
  <script type="text/javascript">getBalance2();</script>
  </div>
  </div>
