extends default

block content
  div.nodeexplore
    p.pageTitle #{title}
    | <br>
    p (2019-03-14) ITK Crypto interview EtherGem Osoese & Tbates76
    p https://t.co/hau94JqoaV
    p (2018-11-19) Bitcoin Incognito & EGEM Monsters feat. Galimba, Sys, NotFreight
    p https://open.spotify.com/episode/6BfBVLwb5KmsboCG7HVt4Y?si=zYGDR_cwQims-eQbbI4TRg
    p (2018-11-06) Masari & EGEM SFRX feat. Thaer
    p https://open.spotify.com/episode/3ybwALVvJnMmHtp27l3cG2
    p (2018-10-22) Coach Cryptos Proof of Work Podcast
    p https://bit.tube/play?hash=QmS1SUmuXFPNhREocoRL5o324NtpzxrNDSfM2HGwK5b7JS&channel=20427
    p (2018-09-02) EtherGem feat. osoese, jal3inc & riddlez666
    p https://open.spotify.com/episode/6mc8chbmeyyPv3aAGpPoRQ
    | <br>
    div.node-image(style=`background: url('/140x140.png') top center no-repeat;`)
