extends default

block content
  div.nodeexplore
    p.pageTitle #{title}
    p EGEM Dev Pool
    p Protonmine.com
    p Minerpool.net
    p Comining.io
    p Solopools.org
    p Wattpool.net
    p Clona.ru
    p egem.digipools.org
    | <br>
    div.node-image(style=`background: url('/140x140.png') top center no-repeat;`)
