extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">


  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Recent Blocks</h3>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
  div.resultBox
    <div id="blocklist"></div>
    <script type="text/javascript">getBlocks()</script>
  </div>

  </div>

  </div>
  </div>
