extends default

block content
  <!--Creative Service-->
  <div id="cr-service" class="cr-service-section section parallax-window pt-150 pb-50" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/service.jpg">
  <div class="container">

  <!--Section Title-->
  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Timeline & Roadmap</h3>
  </div>
  </div>

  <div class="row">

  <button class="accordion">Released: March 18, 2018</button>
  <div class="panel">
  p Genesis block:
  p Stable EGEM blockchain under 13 second average block time, web wallets, and basic explorer (Initial Launch).
  </div>

  <button class="accordion">Released: April 5, 2018</button>
  <div class="panel">
  p Desktop Wallet Opal:
  p A alpha release wallet we can grow with to add the upcoming integrated subchain and will work on all platforms.
  </div>

  <button class="accordion">Released: July 1, 2018</button>
  <div class="panel">
  p Quarry (Master) Nodes
  p This custom made masternode system was designed to be easy to use and expand on for the upcoming SFRX system upon its release.
  </div>

  <button class="accordion">Released: Aug 1, 2018</button>
  <div class="panel">
  p Quarry (Master) Node setup script.
  p Setup script made by sehidcan to aid in the ease of getting a node up and running as fast as possible.
  </div>

  <button class="accordion">Released: Sept 1, 2018</button>
  <div class="panel">
  p Sapphire Snapshot:
  p You can see your balance at time of snapshot (1530000) on the new explorer, just enter your address to confirm.
  </div>

  <button class="accordion">Released: Oct 11, 2018</button>
  <div class="panel">
  p Pirlguard:
  p In a effort to protect our chain we chose to implement Pirlguard which was provided to us by our good friends at Pirl.io to strengthen our bond and trust with them and our community.
  </div>

  <button class="accordion">Released: Feb 15, 2019</button>
  <div class="panel">
  p Quarry (Master) Node Fund:
  p At block 2,100,000 we enable the node fund to pay for the Quarrynode system going into a secure wallet, which is a multisig wallet located at...
  a(href='/accounts?=0x87045b7badac9c2da19f5b0ee2bcea943a786644')
    span 0x87045b7badac9c2da19f5b0ee2bcea943a786644
  </div>

  <button class="accordion">Released: Apr 24, 2019</button>
  <div class="panel">
  p Website & Quarrynode Site:
  p New website framework based on the quarrynode page that combines both and more into something expandable in future.
  </div>

  <button class="accordion">Released: July 1, 2019</button>
  <div class="panel">
  p New Quarrynode Framework:
  p The quarrynode bot and management systems got a overhaul to be ready for SFRX including the ability to control all nodes from one account.
  </div>

  <button class="accordion">Not Released Yet</button>
  <div class="panel">
  p Explorer and Wallet enhancements:
  p Upgraded explorer, mobile wallets and Opal wallet beta release.
  </div>

  <button class="accordion">Not Released Yet</button>
  <div class="panel">
  p Sapphire (SFRX) Network:
  p Sapphire is an integrated sub-chain that interweaves the mainchain on EGEM and includes a DEX. It is dual-mineable with EGEM and companies can ICO on the multicurrency wallet and DEX - paying in EGEM, with proceeds enhancing the Quarrynode payments.
  </div>

  <button class="accordion">Not Released Yet</button>
  <div class="panel">
  p Product integration and growth:
  p Fiat to crypto conversion capabilities, ATM development and implementation, integration of both with DEX.
  </div>

  </div>

  </div>
  </div>
