extends default

block content
  div.nodeexplore
    p.pageTitle #{title}
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: March 18, 2018
      p.rmtitle Genesis block:
      p Stable EGEM blockchain 13-16 second average block time, web wallets, and basic explorer (Initial Launch).
      | <br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: April 5, 2018
      p.rmtitle Desktop Wallet Opal:
      p A alpha release wallet we can grow with to add the upcoming integrated subchain and works on all platforms.
      | <br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: July 1, 2018
      p.rmtitle Quarry (Master) Nodes
      p This custom made masternode system was designed to be easy to use and expand on for the upcoming SFRX system upon its release.
      | <br>
      a(href='/summary')
        span Info
        | <br><br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: Aug 1, 2018
      p.rmtitle Quarry (Master) Node setup script.
      p Setup script made by sehidcan to aid in the ease of getting a node up and running as fast as possible.
      | <br>
      a(href='https://gitlab.com/luisvi70/egem-docker-install')
        span Info
        | <br><br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: Sept 1, 2018
      p.rmtitle Sapphire Snapshot:
      p You can see your balance at time of snapshot (1530000) on the new explorer, just enter your address to confirm.
      | <br>
      p Snapshot Taken: Nov 11, 2018 03:10:42 -0800
      a(href='#')
        span PREVIEW
        | <br><br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: Oct 11, 2018
      p.rmtitle Pirlguard:
      p In a effort to protect our chain we chose to implement Pirlguard which was provided to us by our good friends at Pirl.io to strengthen our bond and trust with them and our community.
      | <br>
      a(href='#')
        span Ream More
        | <br><br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: Feb 15, 2019
      p.rmtitle Quarry (Master) Node Fund:
      p At block 2,100,000 we enable the node fund to pay for the Quarrynode system at a rate of 0.5 EGEM per block going into a secure wallet, which is a multisig wallet located at...
      a(href='/account?=0x87045b7badac9c2da19f5b0ee2bcea943a786644')
        span 0x87045b7badac9c2da19f5b0ee2bcea943a786644
        | <br><br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Released: Mar 23, 2019
      p.rmtitle Website & Quarrynode Site:
      p New website framework based on the quarrynode page that combines both and more into something alot more expandable in future.
      | <br><br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Not Released: Work is underway.
      p.rmtitle Explorer and Wallet enhancements:
      p Upgraded explorer, mobile wallets and Opal wallet beta release.
      | <br>
      a(href='#')
        span PREVIEW
        | <br><br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Not Released: Work is underway.
      p.rmtitle Sapphire (SFRX) Network:
      p Sapphire is an integrated sub-chain that interweaves the mainchain on EGEM and includes a DEX. It is dual-mineable with EGEM and companies can ICO on the multicurrency wallet and DEX - paying in EGEM, with proceeds enhancing the Quarrynode payments.
      | <br>
    div.rmblk
      p.rmdate <i class="fal fa-road"></i> Not Released: Work is underway.
      p.rmtitle Product integration and growth:
      p Fiat to crypto conversion capabilities, ATM development and implementation, integration of both with DEX.
      | <br>
    div.node-image(style=`background: url('/140x140.png') top center no-repeat;`)
