extends default

block content
  div.nodeexplore
    p.pageTitle #{title}
    a(href="https://git.egem.io/team/Opal-Wallet" src="32x32.png" alt="Opal" title="Opal")
     img.className#IdName(src="140x140.png" alt="Opal")
    | <br>
    a(href="https://mycrypto.com/account" src="images/wallets/mycrypto.png" alt="My Crypto" title="My Crypto")
     img.className#IdName(src="images/wallets/mycrypto.png" alt="My Crypto")
    | <br>
    a(href="https://www.myetherwallet.com/" src="images/wallets/mew.png" alt="MEW" title="My Ether Wallet")
     img.className#IdName(src="images/wallets/mew.png" alt="MEW")
    | <br>
    a(href="https://wallet.gnosis.pm/" src="https://wallet.gnosis.pm/img/wallet-logo.svg" alt="GNOSIS" title="Multisignature Wallet")
     img.className#IdName(src="https://wallet.gnosis.pm/img/wallet-logo.svg" alt="GNOSIS")
    | <br>
    a(href="https://metamask.io/" src="https://cdn.vectorlogosupply.com/logos/large/2x/metamask-svg-vector-logo.svg" alt="Metamask" title="Metamask")
     img.className#IdName(src="https://cdn.vectorlogosupply.com/logos/large/2x/metamask-svg-vector-logo.svg" alt="Metamask")
    | <br>
    p To use metamask please go to custom rpc under settings and use this endpoint https://lb.rpc.egem.io this is load balanced and meant for high availability.
    | <br>
    div.node-image(style=`background: url('/140x140.png') top center no-repeat;`)
