extends default

block content

  <!--Creative About-->
  <div id="cr-about" class="cr-about-section section parallax-window pt-150 pb-110" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/about.jpg" alt="">
  <div class="container">

  <!--Section Title-->
  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Daily Stats</h3>
  p Data is collected every 15 minutes.
  </div>
  </div>

  <div style="width:auto; height:500px;">
    <canvas id="priceTime"></canvas>
  </div>

  <div style="margin-top:75px; width:auto; height:500px;">
    <canvas id="nodeTime"></canvas>
  </div>

  <div style="margin-top:75px; width:auto; height:500px;">
    <canvas id="credsTime"></canvas>
  </div>

  <div style="margin-top:75px; width:auto; height:500px;">
    <canvas id="mnrewTime"></canvas>
  </div>

  <div style="margin-top:75px; width:auto; height:500px;">
    <canvas id="t1Time"></canvas>
  </div>

  <div style="margin-top:75px; width:auto; height:500px;">
    <canvas id="t2Time"></canvas>
  </div>

  <script type="text/javascript">doChartPrice();</script>
  <script type="text/javascript">doChartNodes();</script>
  <script type="text/javascript">doChartCredits();</script>
  <script type="text/javascript">doChartMNrewards();</script>
  <script type="text/javascript">doChartT1();</script>
  <script type="text/javascript">doChartT2();</script>
