extends default

block content
  div.nodeexplore
    p.pageTitle #{title}
    div.node-image(style=`background: url('/140x140.png') top center no-repeat;`)
    | <br>
    each stat in summary
      p
      |  Interested in earning a return on your EGEM & SFRX holdings? EGEM Quarrynodes (a form of master node) allow node operators to receive EtherGem in exchange for running a node. <br>
      | <br>
      |  There are currently two tiers of nodes: <br>
      | <br>
      | Tier 1 - 10000 EGEM Collateral <br>
      | Tier 2 - Tier 1 Node & 30000 EGEM Collateral <br>
      | <br>
      |  As the EtherGem network grows, there are plans to add additional node tiers with the launch of SFRX with increasing returns. This gives node investors the ability to exponentially grow their holdings as they acquire more EGEM.
      | <br> <br>
      |  EtherGem has a full-service Discord bot that allows you to manage your node(s). You can perform such actions as: registering a node, changing the IP address of a node, turning automatic payments on/off, checking your wallet balance. And also being able to set when you would like to have the system send node rewards.
      | <br><br>
      |-----
      <table class="blueTable">
      <thead>
      <tr>
      <th>ITEM:</th>
      <th>Status:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>Locked EGEM:</td>
      <td>#{stat.totalLocked}</td>
      </tr>
      <tr>
      <td>Tier #1 Pay:</td>
      <td>#{stat.dailyPayTotal} EGEM / #{stat.nodesOnline} Online = #{stat.nodesPayment/Math.pow(10,18)}</td>
      </tr>
      <tr>
      <td>Tier #2 Pay:</td>
      <td>#{stat.dailyPayBonusTotal} EGEM / #{stat.nodesOnline2} Online = #{stat.nodesPaymentBonus/Math.pow(10,18)}</td>
      </tr>
      <tr>
      <td>Total Nodes:</td>
      <td>#{stat.totalNodes}</td>
      </tr>
      <tr>
      <td>Tier #1:</td>
      <td>#{stat.nodesOnline}</td>
      </tr>
      <tr>
      <td>Tier #2:</td>
      <td>#{stat.nodesOnline2}</td>
      </tr>
      <tr>
      <td>System Credits:</td>
      <td>#{stat.totalCredits/Math.pow(10,18)}</td>
      </tr>
      <tr>
      <td>Withdrawals:</td>
      <td>#{stat.totalWithdrawals}</td>
      </tr>
      <tr>
      <td>Withdrawn:</td>
      <td>#{stat.totalWithdrawn/Math.pow(10,18)}</td>
      </tr>
      <tr>
      <td>Deposits:</td>
      <td>#{stat.totalDepositCount}</td>
      </tr>
      <tr>
      <td>Deposited:</td>
      <td>#{stat.totalDeposits/Math.pow(10,18)}</td>
      </tr>
      </tbody>
      </table>
      |-----
      | <br>
    | <br>
    a(href="https://www.vultr.com/?ref=7408289" src="/images/banner_2.png" alt="" title="")
     img(src="/images/banner_2.png" alt="")
