extends default

block content

  <!--Creative About-->
  <div id="cr-about" class="cr-about-section section parallax-window pt-150 pb-110" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/about.jpg" alt="">
  <div class="container">

  <!--Section Title-->
  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>#{title}</h3>
  </div>
  </div>

  <div class="row">
    div.nodeexplore
      div.teampage
      span We are a small group of developers and engineers trying to make something great, find us in chat and please feel free to ask us questions. <br><br>
      <div class="row">

      <button class="accordion">Admin & Managers</button>
      <div class="panel">
        <div id="adminteam">
          <div class="column admins">
            <div class="content">
              <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
              <h4>Troy (Tbates76)</h4>
              <p class='teamloc'>Eastern, U.S.A</p>
              <p>Contact: </p>
              <p class='teamcon'><a href='mailto:tbates76@egem.io'>tbates76@egem.io</a></p>
              <p class='teamcon'><i class="fab fa-discord"></i>  339378433823997962</p>
              <br/>
              <h4>About Me:</h4>
              <p>Community Director of EGEM. Crypto enthusiast, investor, miner. General computer knowledge combined with google-fu allows me to understand plenty.</p>
              <br/>
              <h4>Projects:</h4>
              <p>EGEM is Life!</p>
            </div>
          </div>
        </div>
      </div>

      <button class="accordion">Core Developers</button>
      <div class="panel">
        <div class="column core">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>Derek (Riddlez)</h4>
            <p class='teamloc'>Western, Canada</p>
            <p>Contact: </p>
            <p class='teamcon'><a href='mailto:ridz@egem.io'>ridz@egem.io</a></p>
            <p class='teamcon'><i class="fab fa-discord"></i>  270424087929683979</p>
            <br/>
            <h4>About Me:</h4>
            <p>All around nerd and the Quarrynode bot/system creator, and go-egem maintainer with no tact or filter, I'm also the sysadmin for most of the EGEM infrastructure.</p>
            <br/>
            <h4>Projects:</h4>
            <p>Quarrynode/EGEM bot.</p>
            <p>Website (Main & Quarrynodes)</p>
          </div>
        </div>
        <hr>
        <div class="column core">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>Frank (Osoese)</h4>
            <p class='teamloc'>Eastern, U.S.A</p>
            <p>Contact: </p>
            <p class='teamcon'><a href='mailto:osoese@egem.io'>osoese@egem.io</a></p>
            <p class='teamcon'><i class="fab fa-discord"></i>  391437472606978049</p>
            <br/>
            <h4>About Me:</h4>
            <p>Software Developer with System Engineering overlap having designed, built and deployed complete systems in rigorous environments. Currently the architect of EGEM Sapphire and Core Dev support on EGEM.</p>
            <br/>
            <h4>Projects:</h4>
            <p>EGEM Mobile Wallet.</p>
            <p>EGEM/SFRX Sidechain</p>
            <p>Fiat Gateway/ATMS</p>
          </div>
        </div>
      </div>

      <button class="accordion">Community Devs</button>
      <div class="panel">
        <div class="column comdev">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>Galimba</h4>
            <p class='teamloc'>Location: N/A</p>
            <p>Contact: </p>
            <p class='teamcon'><i class="fab fa-discord"></i>  310181043279757312</p>
            <br/>
            <h4>About Me:</h4>
            <p>Computer Scientist, pen-tester, sysadmin, crypto geek with a passion for tidy code.</p>
            <br/>
            <h4>Projects:</h4>
            <p>EGEM Monsters</p>
          </div>
        </div>
        <hr>
        <div class="column comdev">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>Eric (Livetoski78)</h4>
            <p class='teamloc'>Location: U.S.A</p>
            <p>Contact: </p>
            <p class='teamcon'><i class="fab fa-discord"></i>  428935466663018496</p>
            <br/>
            <h4>About Me:</h4>
            <br/>
            <h4>Projects:</h4>
            <p>Alexa skill creator & maintainer and egem website contributor with large parts of code.</p>
          </div>
        </div>
        <hr>
        <div class="column comdev">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>luisv70</h4>
            <p class='teamloc'>Location: N/A</p>
            <p>Contact: </p>
            <p class='teamcon'><i class="fab fa-discord"></i>  445378864735059979</p>
            <br/>
            <h4>About Me:</h4>
            <br/>
            <h4>Projects:</h4>
            <p>EGEM QN Docker Setup</p>
            <p>Crowfunding app creator and EGEM/SFRX Guru.</p>
          </div>
        </div>
        <hr>
        <div class="column comdev">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>NeenerNeeners</h4>
            <p class='teamloc'>Central, Canada</p>
            <p class='teamcon'><i class="fab fa-discord"></i>  337005463889772545</p>
            <br/>
            <p>Countless images and other visual goodies made by him.</p>
            <br/>
            <h4>Projects:</h4>
            <p>SFRX Miner Software</p>
            <p>EGEM is Life!</p>
          </div>
        </div>
      </div>

      <button class="accordion">Public Relations</button>
      <div class="panel">
        <div class="column managers">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>Dan (TsuNami)</h4>
            <p class='teamloc'>Location: United Kingdom</p>
            <p class='teamcon'><a href='mailto:marketing@egem.io'>marketing@egem.io</a></p>
            <p class='teamcon'><i class="fab fa-discord"></i>  305805804148359168</p>
            <br/>
            <p>Head of marketing for EGEM, 12 years in IT Support and Infrastructure, Moonlights as an MMA fighter, been in crypto since 2016.</p>
            <br/>
            <h4>Projects:</h4>
            <p>Twitter & Giveaways</p>
            <p>EGEM Public Relations</p>
          </div>
        </div>
        <hr>
        <div class="column managers">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>Halmat (Crypto420)</h4>
            <p class='teamloc'>Location: Norway</p>
            <p class='teamcon'><a href='mailto:crypto420@egem.io'>crypto420@egem.io</a></p>
            <p class='teamcon'><i class="fab fa-discord"></i>  379338535104413734</p>
            <br/>
            <p>Marketing & PR for EGEM, Community and Business developer for NCG (Norway Confidential Group) Background in Constructional Engineering and BIM. Currently working in a Municipality in Norway at unit for culture and local environment.</p>
            <br/>
            <h4>Projects:</h4>
            <p>EGEM Public Relations</p>
          </div>
        </div>
      </div>

      <button class="accordion">Contributors</button>
      <div class="panel">
        <div class="column contributor">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>Gbtroll</h4>
            <p class='teamloc'>Location: Ukraine</p>
            <p>Contact: </p>
            <p class='teamcon'><i class="fab fa-discord"></i>  407187730309709830</p>
            <br/>
            <p>Honorable mention for always posting to BCT ann, Russian mining community liaison.</p>
            <br/>
            <h4>Projects:</h4>
            <p>EGEM is Life!</p>
          </div>
        </div>
        <hr>
        <div class="column contributor">
          <div class="content">
            <img src="/img/ava/egem_var24.png" alt="" class="avatarUser"><br/>
            <h4>I Can Haz Crypto</h4>
            <p class='teamloc'>Location: U.S.A</p>
            <p>Contact: </p>
            <p class='teamcon'><i class="fab fa-discord"></i>  344145445603508226</p>
            <br/>
            <p>Crafty cat.</p>
            <br/>
            <h4>Projects:</h4>
            <p>EGEM website draft.</p>
          </div>
        </div>
        <hr>
      </div>

      </div>
