extends default

block content
  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">
  <div class="cr-section-title text-center">
  <h3> Terms and Conditions</h3>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    p By entering an Ethergem competition you agree to the following terms and conditions:

    p 1. The term competition covers a list of different promotions that the Ethergem team may run, this includes but is not limited to:
    p - Free giveaways
    p - Skill-based competitions
    p - Luck-based competitions
    p - Bounties

    p 2. Ethergem reserves the right to publicize it's competitions.

    p 3. All Competitions will be publicized over social media, this includes but is not limited to:
    p - Current winners Twitter handles
    p - Previous winners Twitter handles
    p - Discord Usernames and/or IDs
    p - Telegram usernames and/or IDs
    p - Prizes won
    p - Tasks or work completed

    p 4. If multiple competitions are taking place simultaneously or in tandem there will be no prevention for a person or persons from entering simultaneous competitions. Should a person or persons win one of the simultaneous competitions they will not be excluded from the possibility of winning other competitions running simultaneously or in tandem unless expressly specified in competition rules. If such a rule is specified it is subject to those competitions only and does not include subsequent competitions

    p 5. Entries and/or winnings in previous competitions will not restrict you from entering subsequent competitions unless expressly specified in competition rules. If such a rule is specified it is subject to that competition only and does not include competitions running simultaneously .

    p 6. Multiple entries into a single competition may disqualify you from that competition unless rules expressly state multiple entries are acceptable. If such a rule is specified it is subject to that competition only and does not include competitions running simultaneously or subsequent competitions

    p 7. By submitting an entry to a competition you accept that should receive a prize you forfeit any copyright or IP claims to that submission. You also accept that your submission can be used by the Ethergem team for any purposes the Ethergem team decides, such as marketing, distribution or monetization

    p 8. Disputes:

    p a) Dispute process:
    p - All disputes with competition rules, entries or prizes should be raised via Direct message to a member of the Ethergem team in the Ethergem discord.
    p - It is your responsibility to include as much information as possible when raising your dispute, with the exception of any private keys or passcodes for your wallets and/or accounts
    p - If a member of the Ethergem team requests further information pertaining to your dispute it is your responsibility to include as much information as possible. Failure to do so could result in your dispute being closed
    p - While we aim to resolve all disputes as soon as possible, please allow up to 7 days for a response to allow for all information to be gathered and verified.

    p b) The Ethergem team will never instigate a public dispute with a named competition entrant.

    p c) In the event that a public dispute over competition rule(s), entry(s) or prize(s) is instigated by yourself you agree that information pertaining to those involved in the dispute may be made public such as public wallet addresses, transactions IDs, Winnings - past or previous and public or direct messages to or from the Ethergem team via communication mediums. Any such information will be released only so that the Ethergem team can give a full account to the public in order to defend it's position in the dispute.

    p 9. Should you feel that the rules or tasks of a competition are ambiguous it is your responsibility to seek clarification following the disputes process.

    p 10. ALL decisions regarding competition entry rules, adjustments, prizes, winners and disputes remain with the Ethergem team at all times and are final.

    p 10. The Ethergem team accepts no responsibility for user funds and/or prize funds lost due to negligence or lack of due diligence on the entrant's part.

  </div>
  <script type="text/javascript">getBalance2();</script>
  </div>
  </div>
