extends default

block content
  div.nodeexplore
    p.pageTitle #{title}
    | <br>
    p Validity - VLDY
    p -----
      p A go-to reference point for investors to verify the integrity of an investment decision.
      a(href='https://validity.ae/' target='_blank') Website
      |  <br>
      a(href='https://bitcointalk.org/index.php?topic=4900179' target='_blank') ANN
      | <br><br>
    p EGEM Monsters
    p -----
     | <br>
     | Coming Soon!
    div.node-image(style=`background: url('/140x140.png') top center no-repeat;`)
