extends default

block content
  div.nodeexplore
    <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
    <div class="container">


    <div class="row">
    <div class="cr-section-title text-center col-xs-12 mb-100">
    <h3>Transactions Lookup</h3>
    </div>

    <div class="col-md-8 col-md-offset-2 col-xs-12">

    <div id="txInput">
    <input type="text" id="searchEnter" class="search" name="txInput" id="txInput2" input="Input tx hash." onClick="this.select();" style="width: 70%">
    <input type="button" value="Query" onClick="qTx();" id="searchIt" class="btn-gradient">
    </br></br>
    div.resultBox
      <div id="notx"></div>
      <div id="txfrom"></div>
      <div id="txto"></div>
      <div id="blockhash"></div>
      <div id="number"></div>
      <div id="gas"></div>
      <div id="value"></div>
      <div id="input"></div>
    </div>
    </div>
    <script type="text/javascript">qTx1()</script>
    </div>

    </div>

    </div>
    </div>
