extends default

block content

  <!--Creative Testimonial-->
  <div id="cr-testimonial" class="cr-testimonial-section section parallax-window pt-150 pb-150" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/testimonial.jpg">
  <div class="container">


  <div class="row">
  <div class="cr-section-title text-center col-xs-12 mb-100">
  <h3>Whitepaper</h3>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">

  <p>EtherGem Whitepaper is currently being updated to include the details of our integrated subchain. While this is in progress, here are some basics about the EGEM Chain:</p>

  <p>Ethergem is the foundational currency platform with an integrated subchain that starts by replicating the stable ethereum core to avoid a reinvention of the wheel and focus on the solutions needed for a decentralized Marketplace. The integration of a subchain allows for tokens to become coins with their own blockchain and consensus while maintaining the dapp infrastructure we have become accustomed to. The resulting chain structure adds enhancements to scalability, transactional throughput, and technical capabilities available on very few platforms in today's crypto environment.</p>


  <p>EtherGem, "EGEM," is first and foremost, a pure community coin with no pre-mine. True to its roots as a cryptocurrency, the Proof of Work mining community will always be a part of EGEM's future and is the foundation of the EGEM launch. There is no ICO on EGEM and EGEM is its own primary blockchain, not just a token or concept on another chain. The EtherGem blockchain is an Ethereum network, meaning it starts with the tested and proven Ethereum (as in ETH) core technologies and builds from there. Technically, EGEM is an Ethereum chain as described in the yellow paper, with EIP150, EIP155, EIP158 applied from block 0. Block Rewards have 7 eras of reduction, including a dev reward enabled after block 5000. Developers and Community Managers are bound by a continuity agreement to maintain the network, community, and coin. There is no cap to EGEM at the moment. A monetary cap will be put in place when the community determines that the logical progression would be to cap the coin.</p>


  <p>Working Product and Community came first.</p>


  <p>EtherGem developers were already working on production ethereum products, so our roadmap begins with that core and community. That means we inherited all of the Ethereum stable core, smart contracts, and tokenization capabilities, with an altered difficulty that produces a shorter block time under (13 seconds). We began adding enhancements like the Quarrynodes and integrated subchain. Since March (our launch) we have been listed on multiple exchanges, refined our stable core, released the Quarrynodes, a custom desktop wallet (Opal), built a terrific discord and telegram community, attended the Blockchain World Conference, developed the integrated subchain in the labs, we are operating on Trezor, and are recognized by CoinMarketCap, and MyEtherWallet. We built an entire new block explorer with api endpoints for continued development around the EGEM chain, produced a mobile wallet approved by the App Store, added continuous community to chain interaction with discord bots, and have planned for a fantastic 2019. It is now time to formalize our plans and hidden technology in the upcoming whitepaper. The plans for this release are in sync with the Sapphire testnet and should be in the next quarter. At that time we will update the roadmap to reflect the confidential aspects related to these projects.</p>


  <p>An "applied technologies peer net" is the EtherGem blockchain's integrated subchain structure. Dual mining EtherGem and an integrated coin on Claymore is something new. The EGEM integrated subchain (code named Sapphire) is designed to be a platform that enhances the EGEM experience by allowing other coins to list on it as a Decentralized Exchange (DEX). Sapphire is very much an integral part of ongoing mainchain development where peers can implement new while continuing to rely on a solid foundation. The Sapphire subchain is currently in late stage development and early testing in the EGEM labs. We expect to see this product release over the next quarter. A lot of excitement is surrounding the Sapphire subchain because early EGEM miners and HODLers get a 2:1 Sapphire : EGEM airdrop at a to be released snapshot. Combined with the Quarrynodes, we feel that the sponsored Sapphire expansion will bring the EtherGem chain into mainstream use.</p>

  <p>A Quarrynode (QN) is the backbone of the EtherGem ecosystem. QNs function as masternodes: user maintained virtual private servers that require EGEM collateral [10k primary + 30k secondary] and in return for supporting the network's transactions, they earn the holder a daily fixed amount of EGEM income. While Sapphire (the subchain) is in beta, the QN's reward come from the DevFund. After Sapphire is released, the goals for the QNs is to provide rewards will be added based on the EGEM network's transactions and the fees paid for the DEX listings. A Sapphire Sponsor Node (SpN) is similar to a Quarrynode, but instead of EGEM they will require some Sapphire collateral locked. These VPS are going to support the subchain infrastructure while providing the holders with Sapphire rewards. The amount of Sapphire collateral required for a SpN will be calculated before release, based on the 2:1 (SFRX:EGEM) airdrop. A single Quarrynode and a Sapphire Sponsor Node will be able to coexist on the same VPS, providing both services to the network.</p>

  </div>
  <div align="center"><img src="img/logo-bounce.gif" alt=""/></div>
  </div>

  </div>
  </div>
