<a href="https://coinmarketcap.com/currencies/ethergem/" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/coinmarketcap-200.png" alt="CoinMarketCap Logo" width="auto" height="30"></a>
<a href="https://coinlib.io/coin/EGEM/EtherGem" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/coinlib-100.png" alt="CoinLib Logo" width="auto" height="30"></a>
<a href="https://www.livecoinwatch.com/price/EtherGem-EGEM" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/livecoinwatch-100.png" alt="LiveCoinWatch Logo" width="auto" height="30"></a>
<a href="https://coincodex.com/crypto/ethergem/" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/coincodex-100.png" alt="CoinCodex Logo" width="auto" height="30"></a>
<a href="https://www.worldcoinindex.com/coin/ethergem" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/worldcoinindex-100.png" alt="WorldCoinIndex Logo" width="auto" height="30"></a>
<a href="https://www.coingecko.com/en/coins/ethergem" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/coingecko-100.png" alt="CoinGeko Logo" width="auto" height="30"></a>
<a href="https://www.cheddur.com/coins/ethergem" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/cheddur.png" alt="Cheddur Logo" width="auto" height="30"></a>
<a href="https://blockspot.io/coin/ethergem/" class="header-logo" target="_blank" rel="noreferrer"><img src="img/coins/blockspot.png" alt="BlockSpot Logo" width="auto" height="30"></a>
