<h4 class="title">Exchanges</h4>
<p><a href="https://mercatox.com/exchange/EGEM/BTC" target="_blank" rel="noreferrer" >MERCATOX</a></p>
<p><a href="https://graviex.net/markets/egembtc" target="_blank" rel="noreferrer" >GRAVIEX</a></p>
<p><a href="https://app.stex.com/en/trade/pair/BTC/EGEM/1D" target="_blank" rel="noreferrer" >STEX</a></p>
</br>
