
<div id="cr-contact" class="cr-footer-section section parallax-window" data-parallax="scroll"  data-speed="0.5" data-image-src="img/creative/bg/footer.jpg">

<div class="cr-contact-section section pt-150">
<div class="container">

<div class="row">
<div class="cr-section-title text-center col-xs-12 mb-100">
<h3>Join the conversation</h3>
<p>Ethergem is a community-supported coin with no pre-mine. Make your voice heard and join in on the conversation by joining our Discord channel, where we discuss the future of our platform with dedicated community members like yourself!</p>
<br>
<div class="text-center col-xs-12">
<a href="https://discord.gg/zav3EkW" class="btn btn-border-gradient  btn-hover-gradient">Discord</a>&nbsp;<a href="https://twitter.com/ethergemcoin" class="btn btn-border-gradient  btn-hover-gradient">Twitter</a>&nbsp;<a href="https://t.me/egemofficial" class="btn btn-border-gradient  btn-hover-gradient">Telegram</a>
</div>
</div>
</div>

<div class="row">

<div class="col-md-10 col-md-offset-1 col-xs-12">

<div class="cr-contact-form">

<div class="row">

<div class="footerarea col-md-3 col-sm-6 col-xs-12 mb-100" style="padding:0px 10px 0px 0px">
<div style="padding:15px 0px 0px 0px"><a href="https://egem.io" class="header-logo-egem" ><img src="img/logo/EGEM-logo.png" alt="EtherGem Logo" width="auto" height="50"></a></div><hr style="margin:0px 25px 15px 0px">
<p><small>(EGEM) is a community-supported coin with no pre-mine. Based off of Ethereum. It also offers quarrynodes that pay dividends to node holders, and a robust discord community with a bot that helps management of daily tasks for node holders and members.</small></p>
</div>


<div class="footerarea col-md-3 col-sm-6 col-xs-12 mb-100">
<div class="cr-footer" style="margin-left: 20px">
include wallets.pug
</div>
</div>

<div class="footerarea col-md-3 col-sm-6 col-xs-12 mb-100">
<div class="cr-footer">
include poollist.pug
</div>
</div>

<div class="footerarea col-md-3 col-sm-6 col-xs-12 mb-100">
<div class="cr-footer">
include exchanges.pug
include mnstats.pug
include services.pug
</div>
<h4 class="title">Join The Conversation</h4>
<div class="cr-footer cr-footer-social-1 fix">
include social.pug
</div>
</div>
</div>

</div>

</div>

</div>

<div class="col-xs-12 mt-50">

<div class="cr-footer-social text-center">

</br>
include ./coininfo.pug


</div>

</div>
</div>
</div>

<div class="cr-footer section">
<div class="container">
include ./ticker.pug
<div class="row">

<div class="col-sm-6 col-xs-12">
<div class="cr-footer-copyright">
<p>Copyright &copy; 2018 - 2021. <a href="https://egem.io/">EtherGem (EGEM)</a>. All Rights Reserved. | Website By: <a href="https://www.sfgraphix.com" target="_blank" rel="noreferrer" >SFGRAPHIX</a></p>
</div>
</div>


<div class="col-sm-6 col-xs-12">
<div class="cr-footer-menu">
<ul>
<li><a href="https://gitlab.com/ethergem" target="_blank" rel="noreferrer" >GitLab</a></li>
<li><a href="https://explorer.egem.io/home" target="_blank" rel="noreferrer" >Explorer</a></li>
<li><a href="https://api.egem.io/" target="_blank" rel="noreferrer" >API</a></li>
<li><a href="https://wiki.egem.io/xwiki/bin/view/Main/" target="_blank" rel="noreferrer" >Wiki</a></li>
<li><a href="mailto:info@egem.io">Contact</a></li>
</ul>
</div>
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">getCoinInfo();</script>
<script src="js/vendor/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/ajax-mail.js"></script>
<script src="js/main.js"></script>
<script src="js/egem.jq.js"></script>
