<div class="cr-header-section header-section header-transparent header-sticky section">
<div class="container">
<div class="row">
<div class="col-xs-12">

<div class="header-section section">
<div class="container">
<div class="row">
<div class="col-xs-12">

<div class="float-left">
<a href="/" class="header-logo-egem" ><img src="img/logo/EGEM-logo.png" alt="EtherGem Logo" width="300"></a>
</div>

<div class="float-right">
<nav class="main-menu multi-page-menu text-white">
<ul>
<li class="active"><a href="/"><i class="fal fa-home"></i> Home</a>
//<ul class="sub-menu">
//<li><a href="/login"> Login</a></li>
//<li><a href="/register"> Register</a></li>
//<li><a href="/logout"> Logout</a></li>
//</ul>
</li>

<li><a href="#"><i class="fal fa-address-card"></i> Info</a>
<ul class="sub-menu">
<li><a href="/about"><i class="fal fa-person-sign"></i> About Us</a></li>
<li><a href="/stats"><i class="fal fa-question-circle"></i> Daily Stats</a></li>
<li><a href="/community"><i class="fal fa-users-class"></i> Community</a></li>
<li><a href="/roadmap"><i class="fal fa-road"></i> Timeline & Roadmap</a></li>
<li><a href="/whitepaper"><i class="fal fa-scroll-old"></i> Whitepaper</a></li>
<li><a href="https://bctann.egem.io" target="_blank" rel="noreferrer" ><i class="fab fa-bitcoin"></i> Bitcoin Talk</a></li>
</ul>
</li>

<li><a href="#"><i class="fal fa-books"></i> Learn</a>
<ul class="sub-menu">
<li><a href="/faq"><i class="fal fa-question-circle"></i> FAQ</a></li>
<li><a href="/team"><i class="fal fa-person-sign"></i> The Team</a></li>
<li><a href="/partners"><i class="fal fa-person-sign"></i> Partners</a></li>
<li><a href="https://wiki.egem.io/egemwallet" target="_blank" rel="noreferrer"><i class="fal fa-wallet"></i> Wallets</a></li>
<li><a href="https://api.egem.io/" target="_blank" rel="noreferrer" ><i class="fal fa-database"></i> API</a></li>
<li><a href="https://wiki.egem.io" target="_blank" rel="noreferrer" ><i class="fal fa-atlas"></i> Wiki</a></li>
</ul>
</li>
<li><a href="#"><i class="fal fa-eye"></i> Quick Look</a>
<ul class="sub-menu">
<li><a href="/recent"><i class="fal fa-star-exclamation"></i> Recent</a></li>
<li><a href="/blocks"><i class="fal fa-cubes"></i> Blocks</a></li>
<li><a href="/accounts"><i class="fal fa-user"></i> Accounts</a></li>
<li><a href="/txs"><i class="fal fa-balance-scale"></i> Transactions</a></li>
<li><a href="/contracts"><i class="fal fa-file-signature"></i> Contracts</a></li>
<li><a href="https://network.egem.io/" target="_blank" rel="noreferrer" ><i class="fal fa-chart-network"></i> Network</a></li>
<li><a href="https://explorer.egem.io/" target="_blank" rel="noreferrer" ><i class="fab fa-wpexplorer"></i> Full Explorer</a></li>
</ul>
</li>
<li><a href="#"><i class="fal fa-server"></i> QNodes</a>
<ul class="sub-menu">
<li><a href="/nodelist"><i class="fal fa-project-diagram"></i> Node List</a></li>
<li><a href="https://wiki.egem.io/botcmds" target="_blank" rel="noreferrer" ><i class="fal fa-project-diagram"></i> Command List</a></li>
<li><a href="https://wiki.egem.io/qntechnical" target="_blank" rel="noreferrer" ><i class="fal fa-project-diagram"></i> Technical Info</a></li>
<li><a href="https://gitlab.com/luisvi70/egem-docker-install" target="_blank" rel="noreferrer" ><i class="fal fa-tools"></i> Install Guide</a></li>
</ul>
</li>
<li><a href="#"><i class="fal fa-exchange"></i> Trade</a>
<ul class="sub-menu">
<li><a href="https://mercatox.com/exchange/EGEM/BTC" target="_blank" rel="noreferrer" ><i class="fal fa-balance-scale"></i> MERCATOX</a></li>
<li><a href="https://graviex.net/markets/egembtc" target="_blank" rel="noreferrer" ><i class="fal fa-balance-scale"></i> GRAVIEX</a></li>
<li><a href="https://app.stex.com/en/trade/pair/BTC/EGEM/1D" target="_blank" rel="noreferrer" ><i class="fal fa-balance-scale"></i> STEX</a></li>
</ul>
</li>
<li><a href="#"><i class="fal fa-address-book"></i> Social</a>
<ul class="sub-menu">
<li><a href="https://youtube.com/c/egemofficial" target="_blank" rel="noreferrer" ><i class="fab fa-youtube"></i> Youtube</a></li>
<li><a href="https://twitter.com/EtherGemCoin" target="_blank" rel="noreferrer" ><i class="fab fa-twitter"></i> Twitter</a></li>
<li><a href="https://discord.egem.io" target="_blank" rel="noreferrer" ><i class="fab fa-discord"></i> Discord</a></li>
<li><a href="https://www.patreon.com/egemcommunity" target="_blank" rel="noreferrer" ><i class="fab fa-patreon"></i> Patreon</a></li>
<li><a href="https://t.me/egemofficial" target="_blank" rel="noreferrer" ><i class="fab fa-telegram-plane"></i> Telegram</a></li>
<li><a href="https://gitlab.com/ethergem" target="_blank" rel="noreferrer" ><i class="fab fa-gitlab"></i> GitLab</a></li>
</ul>
</li>
<li><a href="#"><i class="fal fa-address-book"></i> Contact</a>
<ul class="sub-menu">
<li><a href="/bugs"><i class="fas fa-spider"></i> Bugs & Bounty</a></li>
<li><a href="mailto:info@egem.io"><i class="fal fa-envelope-open"></i> Send Email</a></li>
</ul>
</li>
</ul>
</nav>

</div>
<!--Mobile Menu-->
<div class="mobile-menu multi-page text-black"></div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
