<h4 class="title">Mining Pools</h4>
<p><a href="https://pool.egem.io/" target="_blank" rel="noreferrer" >EGEM Dev Pool</a></p>
<p><a href="https://www.blockhunts.com/" target="_blank" rel="noreferrer" >Blockhunts RPG</a></p>
<p><a href="https://comining.io" target="_blank" rel="noreferrer" >Comining.io</a></p>
<p><a href="https://wattpool.net" target="_blank" rel="noreferrer" >Wattpool.net</a></p>
<p><a href="https://egem.digipools.org" target="_blank" rel="noreferrer" >Digipools.org</a></p>
<p><a href="https://zergpool.com" target="_blank" rel="noreferrer" >Zergpool.com</a></p>
<p><a href="https://icanmining.ru/?l=en&d=pool&pool=egem" target="_blank" rel="noreferrer" >Icanmining.ru</a></p></br>
<h4 class="title">Pool Stats</h4>
<p><a href="https://miningpoolstats.stream/ethergem" target="_blank" rel="noreferrer" >Miningpoolstats</a></p>
<p><a href="https://minerstat.com/coin/EGEM" target="_blank" rel="noreferrer" >Miner Stat</a></p>
