<h4 class="title">Services</h4>
<p><a href="https://stats.uptimerobot.com/W89Wls3AR" target="_blank" rel="noreferrer" >View Uptime</a></p>
<p><a href="https://whattomine.com/coins/307-egem-ethash" target="_blank" rel="noreferrer" >WhatToMine</a></p>
</br>
