<a href="https://bitcointalk.org/index.php?topic=3167940.0" class="header-logo" target="_blank" rel="noreferrer"><img src="img/socials/btc.png" alt="BitcoinTalk Logo" width="auto" height="30"></a>
<a href="https://discord.gg/zav3EkW" class="header-logo" target="_blank" rel="noreferrer"><img src="img/socials/discord.png" alt="Discord Logo" width="auto" height="30"></a>
<a href="https://twitter.com/ethergemcoin" class="header-logo" target="_blank" rel="noreferrer"><img src="img/socials/twitter.png" alt="Twitter Logo" width="auto" height="30"></a>
<a href="https://www.reddit.com/r/egem/" class="header-logo" target="_blank" rel="noreferrer"><img src="img/socials/reddit.png" alt="Reddit Logo" width="auto" height="30"></a>
<a href="https://t.me/egemofficial" class="header-logo" target="_blank" rel="noreferrer"><img src="img/socials/telegram.png" alt="Telegram Logo" width="auto" height="30"></a>
