<!-- Coin Stats Ticker -->
<ticker-wrapper>
<ticker>
<ticker-item>
<span class="stat-title"><i class="fal fa-gem"></i> EGEM Status</span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fal fa-tachometer-alt-average"></i> Current Era: <span id="current-era"></span></span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fal fa-box-full"></i> Est. Supply:</span><span id="total-egem-supply"></span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fal fa-usd-circle"></i> Market Cap (USD):</span><span id="market-cap-usd"></span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fal fa-hand-holding-usd"></i> Exchange Price (USD):</span><span id="average-usd"></span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fal fa-sword"></i> Miner Reward: <span id="miner-reward"></span></span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fab fa-connectdevelop"></i> Dev Reward: <span id="dev-reward"></span></span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fal fa-desktop"></i> Node Reward: <span id="node-reward"></span></span>
</ticker-item>
<ticker-item>
<span class="stat-title"><i class="fal fa-layer-minus"></i> Reduction at: Block <span id="next-era"></span></span>
</ticker-item>
</ticker>
</ticker-wrapper>
