<h4 class="title">Wallets</h4>
<h5>Software</h5>
<p><a href="https://mycrypto.com/account" target="_blank" rel="noreferrer" >MyCrypto</a></p>
<p><a href="https://www.myetherwallet.com/" target="_blank" rel="noreferrer" >MEW</a></p>
<p><a href="https://wallet.gnosis.pm/#/wallets" target="_blank" rel="noreferrer" >Gnosis</a></p>
<p><a href="https://metamask.io/" target="_blank" rel="noreferrer" >MetaMask</a></p>
<br>
<h5>Hardware</h5>
<p><a href="https://www.ledger.com/" target="_blank" rel="noreferrer" >LEDGER</a></p>
<p><a href="https://trezor.io/" target="_blank" rel="noreferrer" >TREZOR</a></p>
<p><a href="http://opolo.io/" target="_blank" rel="noreferrer" >OPOLO</a></p>
