/*-----------------------------------------------------------------------------------

  Template Name: Pixal - Default CSS
  Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    1.    General
	2.    Common Classes
	3.    Time & Date Picker
	4.    Hero Slider Arrows
	5.    Scroll Up

-----------------------------------------------------------------------------------*/

/*--
    1. General
------------------------------------------*/

/*-- Font Family --*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800|Playfair+Display:400,400i,700,700i');

html, body {
  height: 100%;
}
body {
  background: #000;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
}
img{
  max-width: 100%;
}
*::before,
*::after,
a,
span,
button,
.btn {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
*:focus,
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}
a,
button,
input,
textarea {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3e3e3e;
  margin-top: 3px;
  font-style: normal;
  font-weight: 400;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  margin-bottom: 15px;
}
p:last-child {
  margin-bottom: 0;
}

input:focus, textarea:focus {
    -webkit-box-shadow: 0;
    box-shadow: 0;
    outline: 0;
}
/*-- Placeholder Opacity --*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

/*--
    2. Common Classes
------------------------------------------*/
.fix {
    overflow:hidden
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}

/*-- Modal --*/
.modal-backdrop {
  z-index: 99999;
}
.modal {
  z-index: 999999;
}

/*-- Table & Table Cell --*/
.table, .table-cell {
  display: table;
  height: 100%;
  margin: 0;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*Text Color*/
.text-white {
  color: #ffffff;
}
.text-black {
  color: #3e3e3e;
}
.text-light {
  color: #aaaaaa;
}
/*Text Transform*/
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
/*Font Style*/
.font-italic {
  font-style: italic;
}
/*Font Weight*/
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}


/*-- Margin Top --*/
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-45 {
    margin-top: 45px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-55 {
    margin-top: 55px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-65 {
    margin-top: 65px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-75 {
    margin-top: 75px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-85 {
    margin-top: 85px;
}
.mt-90 {
    margin-top: 90px;
}
.mt-95 {
    margin-top: 95px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-105 {
    margin-top: 105px;
}
.mt-110 {
    margin-top: 110px;
}
.mt-115 {
    margin-top: 115px;
}
.mt-120 {
    margin-top: 120px;
}
.mt-125 {
    margin-top: 125px;
}
.mt-130 {
    margin-top: 130px;
}
.mt-135 {
    margin-top: 135px;
}
.mt-140 {
    margin-top: 140px;
}
.mt-145 {
    margin-top: 145px;
}
.mt-150 {
    margin-top: 150px;
}
.mt-155 {
    margin-top: 155px;
}
.mt-160 {
    margin-top: 160px;
}
.mt-165 {
    margin-top: 165px;
}
.mt-170 {
    margin-top: 170px;
}
.mt-175 {
    margin-top: 175px;
}
.mt-180 {
    margin-top: 180px;
}
.mt-185 {
    margin-top: 185px;
}
.mt-190 {
    margin-top: 190px;
}
.mt-195 {
    margin-top: 195px;
}
.mt-200 {
    margin-top: 200px;
}

/*-- Margin Bottom --*/
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-45 {
    margin-bottom: 45px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-55 {
    margin-bottom: 55px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-65 {
    margin-bottom: 65px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-75 {
    margin-bottom: 75px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-85 {
    margin-bottom: 85px;
}
.mb-90 {
    margin-bottom: 90px;
}
.mb-95 {
    margin-bottom: 95px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-105 {
    margin-bottom: 105px;
}
.mb-110 {
    margin-bottom: 110px;
}
.mb-115 {
    margin-bottom: 115px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb-125 {
    margin-bottom: 125px;
}
.mb-130 {
    margin-bottom: 130px;
}
.mb-135 {
    margin-bottom: 135px;
}
.mb-140 {
    margin-bottom: 140px;
}
.mb-145 {
    margin-bottom: 145px;
}
.mb-150 {
    margin-bottom: 150px;
}
.mb-155 {
    margin-bottom: 155px;
}
.mb-160 {
    margin-bottom: 160px;
}
.mb-165 {
    margin-bottom: 165px;
}
.mb-170 {
    margin-bottom: 170px;
}
.mb-175 {
    margin-bottom: 175px;
}
.mb-180 {
    margin-bottom: 180px;
}
.mb-185 {
    margin-bottom: 185px;
}
.mb-190 {
    margin-bottom: 190px;
}
.mb-195 {
    margin-bottom: 195px;
}
.mb-200 {
    margin-bottom: 200px;
}

/*-- Padding Top --*/
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-35 {
    padding-top: 35px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-45 {
    padding-top: 45px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-55 {
    padding-top: 55px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-65 {
    padding-top: 65px;
}
.pt-70 {
    padding-top: 70px;
}
.pt-75 {
    padding-top: 75px;
}
.pt-80 {
    padding-top: 80px;
}
.pt-85 {
    padding-top: 85px;
}
.pt-90 {
    padding-top: 90px;
}
.pt-95 {
    padding-top: 95px;
}
.pt-100 {
    padding-top: 100px;
}
.pt-105 {
    padding-top: 105px;
}
.pt-110 {
    padding-top: 110px;
}
.pt-115 {
    padding-top: 115px;
}
.pt-120 {
    padding-top: 120px;
}
.pt-125 {
    padding-top: 125px;
}
.pt-130 {
    padding-top: 130px;
}
.pt-135 {
    padding-top: 135px;
}
.pt-140 {
    padding-top: 140px;
}
.pt-145 {
    padding-top: 145px;
}
.pt-150 {
    padding-top: 150px;
}
.pt-155 {
    padding-top: 155px;
}
.pt-160 {
    padding-top: 160px;
}
.pt-165 {
    padding-top: 165px;
}
.pt-170 {
    padding-top: 170px;
}
.pt-175 {
    padding-top: 175px;
}
.pt-180 {
    padding-top: 180px;
}
.pt-185 {
    padding-top: 185px;
}
.pt-190 {
    padding-top: 190px;
}
.pt-195 {
    padding-top: 195px;
}
.pt-200 {
    padding-top: 200px;
}

/*-- Padding Bottom --*/
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-35 {
    padding-bottom: 35px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-45 {
    padding-bottom: 45px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-55 {
    padding-bottom: 55px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-65 {
    padding-bottom: 65px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-75 {
    padding-bottom: 75px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-85 {
    padding-bottom: 85px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-95 {
    padding-bottom: 95px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-105 {
    padding-bottom: 105px;
}
.pb-110 {
    padding-bottom: 110px;
}
.pb-115 {
    padding-bottom: 115px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pb-125 {
    padding-bottom: 125px;
}
.pb-130 {
    padding-bottom: 130px;
}
.pb-135 {
    padding-bottom: 135px;
}
.pb-140 {
    padding-bottom: 140px;
}
.pb-145 {
    padding-bottom: 145px;
}
.pb-150 {
    padding-bottom: 150px;
}
.pb-155 {
    padding-bottom: 155px;
}
.pb-160 {
    padding-bottom: 160px;
}
.pb-165 {
    padding-bottom: 165px;
}
.pb-170 {
    padding-bottom: 170px;
}
.pb-175 {
    padding-bottom: 175px;
}
.pb-180 {
    padding-bottom: 180px;
}
.pb-185 {
    padding-bottom: 185px;
}
.pb-190 {
    padding-bottom: 190px;
}
.pb-195 {
    padding-bottom: 195px;
}
.pb-200 {
    padding-bottom: 200px;
}

/*-- No Padding --*/
.no-padding {
  padding: 0;
}

/*-- Section --*/
.section {
  float: left;
  position: relative;
  width: 100%;
}

/*---- Background Class ----*/
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #f1f1f1;
}
.bg-dark {
  background-color: #292929;
}
.bg-dark-light {
  background-color: #2E2E2E;
}
.bg-gradient {
  background: rgba(0, 0, 0, 0) -o-linear-gradient(45deg, #4481eb 0%, #04bffe 100%) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, #4481eb 0%, #04bffe 100%) repeat scroll 0 0;
}


/*--
    3. Time & Date Picker
------------------------------------------*/
.timepicker {}
.timepicker-picker {
  padding: 15px 10px;
}
.timepicker-picker table {}
.timepicker-picker table tr {}
.timepicker-picker table tr td {
  height: 40px;
  line-height: 34px;
  padding: 0;
  vertical-align: top;
  width: 40px;
}

.timepicker-picker table tr td a {
  border: medium none;
  border-radius: 3px;
  height: 30px;
  padding: 0 !important;
  width: 30px;
}
.timepicker-picker table tr td a span, .timepicker-picker table tr td a i {
  border-radius: 0;
  display: block;
  font-size: 20px;
  height: auto;
  line-height: 30px;
  margin: 0;
  width: auto;
}
.timepicker-picker table tr td span:hover {
  background-color: transparent;
}

.timepicker-picker table tr td span.timepicker-hour, .timepicker-picker table tr td span.timepicker-minute {
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.timepicker-picker table tr td button {
  border: medium none;
  border-radius: 4px;
  display: inline-block;
  float: none;
  font-size: 12px;
  height: 34px;
  line-height: 36px;
  margin: 0;
  padding: 0 !important;
  width: 34px;
}

/*---- Time & Date Picker For Restaurant ----*/
[class*="res"] .bootstrap-datetimepicker-widget table td.active, [class*="res"] .bootstrap-datetimepicker-widget table td.active:hover, [class*="res"] .timepicker-picker table tr td a:hover, [class*="res"] .bootstrap-datetimepicker-widget table td span.active, [class*="res"] .timepicker-picker table tr td button:hover {
  background-color: #e54c2a;
}
[class*="res"] .bootstrap-datetimepicker-widget table td.today::before {
  border-color: rgba(0, 0, 0, 0.2) transparent #e54c2a;
  border-bottom-color: #fff;
}

[class*="res"] .picker-switch {}
[class*="res"] .picker-switch a {
  color: #e54c2a;
}

/*--
    4. Hero Slider Arrows
------------------------------------------*/
.hero-slider .slick-arrow {
  background-color: transparent;
  border: medium none;
  color: #ffffff;
  height: 60px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  width: 60px;
  z-index: 999;
}
.hero-slider .slick-arrow i {
  display: block;
  font-size: 40px;
  line-height: 60px;
}
.hero-slider .slick-prev {
  left: 30px;
}
.hero-slider .slick-next {
  right: 30px;
}


/*--
    5. Scroll Up
------------------------------------------*/
#scrollUp {
  background-color: transparent;
  border: 2px solid #999;
  border-radius: 50%;
  bottom: 80px;
  color: #999;
  height: 40px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: 40px;
}
#scrollUp i {
  display: block;
  font-size: 24px;
  line-height: 35px;
}
#scrollUp:hover {
  background-color: #3f3f3f;
  color: #fff;
}

.nodeList {
    display: block;
    font: 13px Helvetica, Tahoma, serif;
    margin: 0;
    padding: 0;
}

.nodeList li {
    display: inline-block;
    list-style: none;
}

.nodeList .button-dropdown {
    position: relative;
    width: auto;
    border: 1px solid #8987DF;
    border-radius: 5px;
}

.nodeList li a {
    display: block;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.nodeList li a span {
    display: inline-block;
    font-size: 10px;
    color: #999;
}

.nodeList li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #8987DF;
    color: #fff;
}

.nodeList li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}

.nodeList li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: center;
    border: 1px solid #8987DF;
}

.nodeList li .dropdown-menu.active {
    display: block;
}

.nodeList li .dropdown-menu a {
    width: auto;
}

.reg-form input {
  color:#8987DF;
  border: 1px solid #8987DF;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.login-form #DiscordID,#EGEMAddy,#EGEMPass,#EGEMCaptca{
  color:#8987DF;
  border: 1px solid #8987DF;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.login-form #lgbutton {
  color:#8987DF;
  border: 1px solid #8987DF;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
}

.profile-form #EGEMPaylimit,#EGEMID {
  color:#8987DF;
  border: 1px solid #8987DF;
  border-radius: 5px;
  width: 15%;
  padding: 5px;
}

.profile-form #pfbutton {
  color:#8987DF;
  border: 1px solid #8987DF;
  border-radius: 5px;
  width: 20%;
  padding: 5px;
}

.boxthingy {
  padding: 30px;
  border-color: #8987DF;
  border-width: 0px 3px 0px 3px;
  border-style: double;
  border-radius:40px 40px 60px 60px;
  -moz-border-radius:40px 40px 60px 60px;
  -webkit-border-radius:40px 40px 60px 60px;
}

#supplyTime {
 border: 1px solid white;
 border-radius: 5px;
 padding: 20px;
 margin-left: -10px;
 background: rgb(122,122,122);
 background: linear-gradient(0deg, rgba(122,122,122,1) 0%, rgba(156,156,156,1) 35%, rgba(149,149,149,1) 100%);
}

#motdbox {
 margin-top: 20px;
 border-color: #8987DF;
 border-width: 0px 3px 0px 3px;
 border-style: double;
 border-radius:40px 40px 60px 60px;
 -moz-border-radius:40px 40px 60px 60px;
 -webkit-border-radius:40px 40px 60px 60px;
}

#statslist {
 padding: 10px;
 overflow: hidden;
}

#nodeslisttb table {
  overflow: hidden;
}

#nodeslisttb th {
  padding-right: 10px;
}

#nodeslisttb td {
  padding-right: 10px;
}

#nodelist {
 font-size: 13px;
 padding: 10px;
 overflow: hidden;
}

#nodelisttb th {
  padding-right: 10px;
}

#nodelisttb td {
  padding-right: 10px;
}
