/* Laptop Screen  */
@media only screen and (min-width: 1171px) and (max-width: 1400px) {

  .main-menu > ul > li {
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
  }

}


/* Desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1169px) {

  .main-menu > ul > li {
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
  }
  .qnodes-section {
    margin-left: 70px;
  }
}


/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

/*Header Buttons*/
.header-section .btn, .header-search, .header-social {
  margin-right: 50px;
}
.header-search {
  padding-right: 50px;
}

.main-menu > ul > li {
  display: block;
  float: left;
  margin-right: 10px;
  position: relative;
}

.qnodes-section {
  margin-left: 90px;
}

}


/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
.container {
  width: 400px;
}
.table, .table-cell {
  display: block;
  height: auto;
}
#scrollUp {
  display: none !important;
}
/*Buttons*/
.btn, .btn-sm, .btn-lg {
  font-size: 12px;
  height: 33px;
  padding: 4px 20px;
}
.btn-icon-right {
  padding-right: 53px;
}
.btn-icon-right i {
  right: 20px;
}
.btn-icon-left {
  padding-left: 53px;
}
.btn-icon-left i {
  left: 20px;
}
/*Header*/
.header-logo {
  margin: 25px 0;
  width: 65px;
}
.header-logo-egem {
  margin: 25px 0;
  width: 175px;
}
.menu-toggle {
  margin: 25px 0;
}
/*Header Buttons*/
.header-section .btn, .header-social {
  margin: 18px 50px 18px 0;
}
.header-search {
  padding: 18px 50px 18px 0;
}
/*Mobile Menu Toggle*/
a.meanmenu-reveal {
  top: -55px;
}

.main-menu > ul > li {
  display: block;
  float: left;
  margin-right: 10px;
  position: relative;
}

.qnodes-section {
  margin-left: 60px;
}

}


/* small mobile :320px. */

@media only screen and (max-width: 479px) {
.container {
  width: 300px;
}


.qnodes-section {
  margin-left: 20px;
}


}
