* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

ticker-wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 30px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    z-index: 400;
}

ticker {
    display: inline-block;
    height: auto;
    line-height: 1.0em;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 80s;
    animation-duration: 80s;
}

ticker-item {
    display: inline-block;
    padding: 4px 10px 4px 10px;
    margin-left:110px;
    font-size: 0.9em;
    color: #000;

}

.stat-title {
    font-size: 1.0em;
    color: #000/*8987df*/;
    padding-right: 10px;
}
