/*
  Template Name: Pixal - Creative Multipurpose Template
  Template URI: http://devitems.com
  Description: Creative Multipurpose Template
  Author: Hastech
  Author URI: http://devitems.com
  Version: 1.0

*/
/*================================================
[  Table of contents  ]
================================================

  1. Import Default & Template CSS
  2. Custom CSS Goes Here

======================================
[ End table content ]
======================================*/

/*--
    1. Import Default & Template CSS
----------------------------------------*/
/*Default*/
@import url('css/default.css');
/*Buttons*/
@import url('css/shortcode/buttons.css');
/*Headers*/
@import url('css/shortcode/header.css');
/*Templates*/
@import url('css/template/creative.css');


/*--
    2. Custom CSS Goes Here
----------------------------------------*/
.resultBox {
  padding: 25px;
  border-color: #8987DF;
  border-width: 0px 3px 0px 3px;
  border-style: double;
  border-radius:40px 40px 60px 60px;
  -moz-border-radius:40px 40px 60px 60px;
  -webkit-border-radius:40px 40px 60px 60px;
  word-break: break-all;
}

.resultBox span {
  margin: auto;
  width: 100%;
}

.resultBox span span {
  margin: auto;
  width: 100%;
  color: #E4EBFD;
}

input[type=text]:focus {
    border: 2px solid #D0F7FF;
}

.search {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.twitterWindow {
  margin-left: auto;
  margin-right: auto;
}

#blocklist span a{
  padding: 3px;
}
