<div class="login-form">
  <form action="auth" method="POST">
    <input id="DiscordID" type="text" name="username" placeholder="DiscordID" required></br>
    <input id="EGEMAddy" type="text" name="egemaddress" placeholder="EGEM Address" required></br>
    <input id="EGEMPass" type="password" name="password" placeholder="Password" required></br>
    </br>
    p There is a phrase.
    //<input id="EGEMCaptca" type="password" name="amihumnan" placeholder="" required></br>
    //p No Discord: <input type="checkbox" name="checked" onclick="" title="For node owners that are not discord users." style="width: 10%;">
    <input id="lgbutton" type="submit">
  </form>
</div>
