<div class="reg-form">
  <form action="register" method="POST">
    <input type="text" name="egemaddress" placeholder="EGEM Address" required></br>
    <input type="password" name="password" placeholder="Password" required></br>
    <script type="text/javascript">DrawBotBoot()</script>
    <input id="Button1" type="button" value="Check" onclick="alert(ValidBotBoot());" style="width:10%;">
    <input type="submit" style="width:10%;">
  </form>
</div>
